@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #bce5ff;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    border-bottom: 6px solid #245284;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 1;
}
.nav-content{
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: auto;
    align-items: center;
    height: 80px;
}
.nav-brand{
    font-family: 'Nunito';
    font-size: 30px;
    font-weight: 700;
    color: #45AAE8;
}
.nav-menu li{
    display: inline-block;
    margin-left: 40px;
}
.nav-menu li a{
    color: #245284;
    font-weight: 600;
}
.nav-menu li a:hover{
    color: #45AAE8;
}
.nav-menu .btn-reg{
    background-color: #245284;
    color: white;
    padding: 14px 17px;
    border-radius: 20px;
}
.nav-menu .btn-reg:hover{
    background-color: #45AAE8;
    color: white;
}

main{
    width: 1150px;
    margin: auto;
    padding: 20px 0;
    display: flex;
    height: calc(100vh - 80px);
}

.tagline{
    margin-top: 50px;
    padding-right: 150px;
}
.tagline .tag{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Nunito';
    color: #245284;
    margin-bottom: 10px;
}
.tagline h2{
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: 800;
    color: #245284;
    margin-bottom: 20px;
    line-height: 60px;
}
.tagline .deskripsi{
    margin-bottom: 40px;
    line-height: 10px;
    color: #245284;
}
.btn-more{
    background: #45AAE8;
    color: white;
    padding: 14px 17px;
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
}
.btn-more:hover{
    background-color: #245284;
    color: white;
}

/* ABOUTTT */
#about{
    max-width: 1150px;
    margin: auto;
    padding: 100px 0;
}
.about-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}
.about-box img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.about-box h2{
    font-size: 40px;
    font-weight: 800;
    font-family: 'Nunito';
    margin-bottom: 10px;
    color: #245284;
}
.about-box p{
    font-size: 14px;
    line-height: 2;
    text-align: justify;
    color: #245284;
}
.about .info{
    background-color: white;
    padding: 40px 20px;
    margin-top: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 50px;
    text-align: center;
    color: #1b7bb7;
}
.about .info h2 span{
    color: #245284;
    font-size: 40px;
}

/* FASILITASS */
.fasilitas-title {
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: #245284;
    text-align: center;
    margin-bottom: 40px;
}
.fasilitas{
    padding: 20px 180px ;
    padding-bottom: 100px;
}
.fasilitas-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}
.fasilitas-box img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.fasilitas-box .box{
    background-color: #ffffff;
    box-shadow: 10px 10px 20px #1968bc37;
    border-radius: 20px;
}
.fasilitas-box .desc{
    padding: 30px;
}
.fasilitas-box .desc h3{
    color: #245284;
    line-height: 2;
}
.fasilitas-box .desc p{
    line-height: 2;
    color: #245284;
}

/* KONTAKK */
#kontak{
    width: 1150px;
    margin: auto;
    text-align: center;
    padding: 40px 0;
}

#kontak h2{
    color: #245284;
    font-size: 40px;
    font-family: 'Nunito';
    font-weight: 800;
    margin-bottom: 60px;
}
#kontak .row{
    display: flex;
    justify-content: space-between;
}
#kontak .row .map{
    width: 45%;
    height: 350px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #1968bc37;
}
#kontak .row .pesan{
    width: 50%;
    text-align: left;
}
#kontak .pesan .box{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
#kontak .pesan input, #kontak .pesan textarea{
    height: 100%;
    width: 100%;
    border: 1px solid #1b7bb7;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 15px;
}
#kontak .pesan .message{
    height: 100px;
}
#kontak .pesan textarea{
    padding: 12px;
    resize: none;
    margin-top: 10px;
}
#kontak .pesan .btn-send button{
    background-color: #245284;
    color: white;
    padding: 14px 20px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}
#kontak .pesan .btn-send button:hover{
    background-color: #45AAE8;
    color: white;
}

footer {
    background: #70b9e7;
    padding: 80px;
    text-align: center;
    margin-top: 40px;
}
footer .credit p{
    color: #ffffff;
    font-size: 15px;
}
footer .credit p a{
    color: #4273a9;
}

/* Mobile */
@media screen and (max-width: 576px) {
    .nav-content{
        width: 100%;
        display: block;
        padding-left: 12px;
        margin: auto;
        height: 110px;
    }
    .nav-brand{
        text-align: center;
        font-size: 30px;
        margin-bottom: 10px;
    }
    .nav-menu{
        text-align: center;
        padding-left: 4px;
    }
    .nav-menu li{
        margin-left: 0;
        margin-right: 30px;
    }
    .nav-menu li a{
        font-size: 15px;
    }
    .nav-menu .btn-reg{
        padding: 12px 15px;
    }

    main{
        display: block;
        width: 100%;
        padding: 10px;
    }
    .tagline{
        text-align: center;
        padding: 0;
        padding-bottom: 10px;
        margin-top: 10px;
    }
    .tagline .tag{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .tagline h2{
        font-size: 40px;
        margin-bottom: 20px;
        line-height: 45px;
    }
    .tagline .deskripsi{
        font-size: 15px;
        margin-bottom: 30px;
    }
    .btn-more{
        display: inline-block;
        font-size: 15px;
        padding: 12px 15px;
    }
    #home img{
        width: 100%;
    }
    @media (max-width:768px) {
    .about-box {
        grid-template-columns: 1fr;
        gap: 8px;
        padding: 20px;
    }

    .about-box img{
        width: 100%;
        height: 100%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
    }

    .about-box h2{
        margin-top: 10px;
        text-align: center;
    }
    .about-box p{
        text-align: justify;
        text-align: center;
        padding: 0 20px;
}
.about .info{
    margin: 20px;
    margin-top: 10px;
}
.fasilitas{
    padding: 20px;
}

#kontak{
    padding: 20px;
    width: 100%;
}
#kontak h2{
    margin-top: 50px;
    margin-bottom: 10px;
}
#kontak .row{
    display: block;
    width: 100%;
}
#kontak .row .map{
    width: 100%;
}
#kontak .row .pesan{
    width: 100%;
    text-align: center;
}
    
}
}
